.advantage {
  position: relative;
  width: 280px;
  padding: 39px 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background: $gray;
  color: $black;
  text-transform: uppercase;
  text-align: center;

  &--blue1::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 37px;
    background: url("../img/bg-triangle.svg") no-repeat center center;
    background-size: cover;
  }

  &--blue {
    background: $blue;
    color: $white;
  }

  &--blue1 {
    padding-top: 56px;
  }

  &--gray {
    width: 250px;
    background: $gray;
    padding: 29px 35px 25px 35px;
  }

  &--gray::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 280px;
    height: 1px;
    background-color: #d6d6d6;
  }

  &--gray:last-child::after {
    display: none;
  }
}

.advantage__title {
  @include font-title;
}

.advantage__number {
  padding: 10px 0 15px 0;
}

.advantage__text {
  @include no-style;
}

.advantage--blue2 br {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantage {
    width: 166px;
    padding: 44px 45px;

    &--blue1::before {
      display: none;
    }

    &--blue2 {
      order: 2;
    }

    &--gray {
      width: 148px;
      padding: 45px 54px;
    }

    &--gray:first-child {
      width: 166px;
      padding: 45px;
    }

    &--gray::after {
      display: none;
    }
  }

  .advantage__title {
    @include font-title-max;
  }

  .advantage__number {
    padding: 10px 0 21px 0;
  }
}

@media (min-width: $desktop-width) {
  .advantage {
    width: 280px;
    padding: 52px 60px 58px 60px;

    &--blue2 {
      padding: 52px 83px 58px 83px;
    }

    &--gray {
      width: 264px;
      padding: 45px 68px 66px 68px;
    }

    &--gray:first-child {
      width: 310px;
      padding: 45px 45px 66px 45px;
    }
  }

  .advantage__title {
    display: block;
    padding: 0 70px;

    &--2 {
      padding: 0;
    }
  }
}

