.button {
  min-width: 160px;
  padding: 16px 0;
  font-family: "PT Sans", sans-serif;
  @include font-title-max;
  color: $white;
  background: $blue;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}
