.page-main {
  width: 320px;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .page-main {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
   width: 1200px;
  }
}
