.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  padding: 0;

}

.review__title {
  margin: 0;
  padding-top: 38px;
  padding-bottom: 25px;
  font-family: "PT Sans", sans-serif;
  @include font-title;
  text-align: center;
  color: $black;
  text-transform: uppercase;
}

.review__text {
  margin: 0;
  box-sizing: border-box;
  min-width: 100%;
  padding-bottom: 25px;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .review {
    width: 768px;
  }

  .review__title {
    padding-top: 75px;
    padding-bottom: 30px;
    font-size: 30px;
  }

  .review__text {
    width: 442px;
    padding-bottom: 63px;
  }
}

@media (min-width: $desktop-width) {
  .review {
    width: 1200px;
  }
  .review__title {
    padding-top: 111px;
  }

  .review__text {
    padding: 0 380px 48px;
  }
}
