.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  padding: 0;
}

.video__title {
  margin: 0;
  padding-top: 11px;
  padding-bottom: 25px;
  font-family: "PT Sans", sans-serif;
  @include font-title;
  text-align: center;
  color: $black;
  text-transform: uppercase;
}

.video__text {
  margin: 0;
  max-width: 100%;
  padding-bottom: 36px;
  padding-left: 23px;
  padding-right: 23px;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
}

.video__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.video__controls-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 38px;
  margin-top: -45px;
}

.video__progress-bar {
  position: relative;
  width: 280px;
  padding: 22px 22px 23px;
  margin: auto;
  box-sizing: border-box;

  background-color: rgba(0, 0, 0, 0.6);

  &::before {
    content: "";
    position: absolute;
    bottom: 17px;
    left: 58px;
    width: 9px;
    height: 9px;
    background-color: $white;
    border-radius: 50%;
    cursor: pointer;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 22px;
    width: 235px;
    height: 3px;
    background-color: $white;
    opacity: 0.2;
  }
}

.video__controls {
  width: 280px;
  margin: auto;
  padding: 16px 15px 15px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  cursor: pointer;
}

.video__controls-button {
  padding: 0;
  background-color: none;
  border: 0;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
}

.video__controls-button--first-elem {
  margin-right: 118px;
}

.video__controls-button--second-elem {
  margin-right: 18px;
}

.video__controls-img {
  fill: #5c6870;

  &:hover,
  &:focus {
    fill: #333333;
  }

  &:active {
    fill: #b8b8b8;
  }
}

@media (min-width: $tablet-width) {
  .video {
    width: 768px;
  }

  .video__title {
    padding-top: 67px;
    padding-bottom: 30px;
    font-size: 30px;
  }

  .video__text {
    width: 435px;
    margin-bottom: 73px;
    padding-left: 165px;
    padding-right: 165px;
  }

  .video__image-wrapper {
    max-height: 500px;
    margin-bottom: 40px;
  }

  .video__image {
    width: 648px;
    height: 500px;
  }

    .video__controls-wrapper {
    position: relative;
    flex-direction: row;
    margin-top: -93px;
    padding-bottom: 13px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .video__progress-bar {
    width: 486px;
    height: 100%;
    background-color: transparent;

    &::before {
      top: 24px;
      bottom: 0;
      left: 206px;
    }

    &::after {
      top: 27px;
      bottom: 0;
      left: 94px;
      width: 389px;
    }
  }

  .video__controls {
    width: 162px;
    padding-top: 30px;
    padding-left: 36px;
    background-color: transparent;
  }

  .video__controls-button .video__controls-img {
    fill: #ffffff;

    &:hover,
    &:focus {
      fill-opacity: 0.6;
    }

    &:active {
      fill-opacity: 0.3;
    }
  }

  .video__controls-button--first-elem {
    position: absolute;
    top: 29px;
    left: 25px;
    margin-right: 0;
  }

  .video__controls-button--second-elem {
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .video {
    width: 1200px;
  }

  .video__title {
    padding-top: 70px;
  }

  .video__text {
    width: 450px;
    padding-bottom: 71px;
  }

  .video__image-wrapper {
    width: 800px;
    margin-bottom: 85px;
  }

  .video__image {
    width: 800px;
  }

  .video__controls-button--first-elem {
    top: 30px;
  }

  .video__progress-bar {
    width: 640px;

    &::before {
      top: 25px;
      bottom: 0;
      left: 206px;
    }

    &::after {
      top: 28px;
      bottom: 0;
      left: 94px;

      width: 540px;
    }
  }

  .video__controls {
    padding-top: 31px;
    padding-left: 34px;
  }

}
